.SmallWidth
{
    width: 75px;
}

formitem.input.SmallWidth
{
    width: 75px;
}
.infomessage {
    float: left;
    width: 100%;
    padding-right: 5%;
    padding-top: .5em;
    line-height: 1.2em;
    font-size: 11px;
    color: navy;
}
/*.inlineLabels {
    display:inline;
}
.inlineControls {
    display:inline;
}*/